:root {
  margin: 0;
}
body {
  @apply bg-gray-50 dark:bg-gray-900;
  font-family: "Varela Round";
  user-select: none;
  margin-top: 5rem !important;
}
.abc {
  background-image: linear-gradient(
      rgba(19, 145, 253, 0.77),
      rgba(19, 68, 206, 0.86)
    ),
    url("./assets/flow.jpg") !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
